@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./font-faces.scss";
@import "./variables.scss";
@import "./toastr.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  transition: 0.5s all;
  color: $color-dark;
}

html,
body,
#root {
  height: 100%;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

.toast-success {
  background-color: $color-primary;
}

label {
  cursor: pointer;
}
