@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./font-faces.scss";
@import "./variables.scss";
@import "./toastr.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  transition: 0.5s all;
  color: $color-dark;
}

html,
body,
#root {
  height: 100%;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

.toast-success {
  background-color: $color-primary;
}

label {
  cursor: pointer;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $color-secondary;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darkgray;
}
